main .btn-round {
	border-radius: var(--borderRadius);
	padding: 5px 20px;
	letter-spacing: 1px;
	font-weight: 500;
	background-color: var(--accentColor);
	color: var(--primaryColor);
	transition: all 0.25s ease;
	font-size: var(--baseFontSize);
}

.btn-round:hover {
	color: var(--primaryColor);
}

.btn-round:focus,
.btn-round:active {
	/* border-color: lighten(var(--accentColor), 10%); */
	/* box-shadow: lighten(var(--accentColor), 10%); */
	/* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
	box-shadow: none;
}

main .card {
	border-radius: var(--borderRadius);
	padding: var(--paddings);
	border: 0;
}

.card a,
.card button {
	font-size: 1rem;
}

.card a.animate {
	text-decoration: dotted;
	transition: all 0.25s ease;
	display: block;
}

.card a.animate svg {
	margin-left: 0;
	transition: all 0.25s ease;
}

.card a.animate:hover {
	margin-left: 5px;
}
.card a.animate:hover svg {
	ext-decoration: dotted;
	margin-left: 10px;
}

.card-body {
	z-index: 1;
	padding: 20px;
	border-radius: var(--borderRadius);
	overflow: hidden;
	position: relative;
}

.card-body--h-360 {
	min-height: 360px;
}

.card-heading {
	font-family: var(--cardHeading);
	font-weight: 700;
}

.card-heading--large {
	font-size: 3rem;
	line-height: 2rem;
}

.card-subheading {
	font-family: var(--cardSubHeading);
	font-size: 0.8rem;
	font-weight: 500;
}

.card-text {
	font-family: var(--cardText);
	font-size: var(--baseFontSize);
	line-height: 1.2;
}

.card-text--large {
	font-size: 1.15rem;
	line-height: 1.25rem;
}

.card-overlay {
	/*background-image: url("../src/assets/pattern.jpg");*/
	/* background-color: var(--accentColor); */
	background-size: cover;
	background-position: top;
}

.card-body-overlay {
	display: block;
	width: 100%;
	height: 100%;

	background-blend-mode: inherit;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	border-radius: var(--borderRadius);
}

.card-body-overlay--neutral {
	background: rgb(255, 29, 153);
	background: linear-gradient(
		180deg,
		rgba(255, 29, 153, 0) -100%,
		var(--neutralColor) 100%
	);
}
.card-body-overlay--accent {
	/* background: rgb(255, 29, 153); */
	background: linear-gradient(
		180deg,
		hsla(var(--accentH), var(--accentS), var(--accentL), 0.25) 0%,
		hsla(var(--accentH), var(--accentS), var(--accentL), 1) 100%
	);
}

.card-body-overlay--primary {
	/* background: rgb(255, 29, 153); */
	background: linear-gradient(
		180deg,
		hsla(var(--primaryH), var(--primaryS), var(--primaryL), 0.5) 20%,
		hsla(var(--primaryH), var(--primaryS), var(--primaryL), 1) 100%
	);
}

.card-body--bordered {
	box-shadow: inset 0 0 0 4px !important;
}

.card-section--absolute {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.card-section--absolute svg {
	position: absolute;
}

.card.footer a.small {
	font-size: inherit;
	color: var(--primaryColor);
	text-decoration: none;
}

.table {
	--bs-table-bg: transparent;
	--bs-table-accent-bg: transparent;
	--bs-table-striped-color: var(--primaryColor);
	--bs-table-striped-bg: hsla(
		var(--primaryH),
		var(--primaryS),
		var(--primaryL),
		0.05
	);
}
