.contrast-checker-card {
}
.contrast-checker-card__heading {
	padding-right: 5px;
	line-height: 1.75rem;
	text-align: center;
}
.contrast-checker-card__inner {
	border: 2px solid var(--primaryColor);
	padding: 10px;
}

.contrast-checker-card__text {
	line-height: 0.85rem;
	font-size: 0.75rem;
	border-left: 1px solid var(--primaryColor);
	padding-left: 10px;
	letter-spacing: 0.5px;
	font-weight: normal;
	align-items: left;
}

.contrast-checker-card--neutral {
}
.contrast-checker-card__heading--neutral {
	padding-right: 5px;
	line-height: 1.75rem;
	text-align: center;
}
.contrast-checker-card__inner--neutral {
	border: 2px solid var(--primaryColor);
	padding: 10px;
}

.contrast-checker-card__text--neutral {
	line-height: 0.85rem;
	font-size: 0.75rem;
	border-left: 1px solid var(--primaryColor);
	padding-left: 10px;
	letter-spacing: 0.5px;
	font-weight: 600;
}
