:root {
	--bgColor: #ffffff;
	--primaryColor: #ffffff;
	--accentColor: #ffffff;
	--textColor: #000000;
	--darkenColor: #000000;
	--lightenColor: #ffffff;
	--neutralColor: #ffffff;
	--primaryH: 300;
	--primaryS: 50%;
	--primaryL: 48%;
	--accentH: 300;
	--accentS: 50%;
	--accentL: 48%;
	--neutralH: 300;
	--neutralS: 50%;
	--neutralL: 48%;
	--baseFontSize: 12pt;
	--borderRadius: 0px;
	--paddings: 0.5rem;
	--margins: 1rem;
	--fontSerif: "Rozha One", serif;
	--fontSansSerif: "Montserrat", sans-serif;
	--fontMain: "Urbanist", sans-serif;
	--cardHeading: var(--fontSansSerif);
	--cardSubHeading: var(--fontSansSerif);
	--cardText: var(--fontSansSerif);
}

.root-margins {
	margin: var(--margins);
}
.root-paddings {
	padding: var(--paddings);
}

.bg-primary {
	background-color: var(--primaryColor) !important;
}

.bg-accent {
	background-color: var(--accentColor) !important;
}

.bg-neutral {
	background-color: var(--neutralColor) !important;
}
.bg-transparent {
	background-color: transparent !important;
}

.text-primary {
	color: var(--primaryColor) !important;
}

.text-accent {
	color: var(--accentColor) !important;
}

.text-neutral {
	color: var(--neutralColor) !important;
}
